@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@-webkit-keyframes bounce-from-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-from-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@-webkit-keyframes slide-from-above {
  0% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-from-above {
  0% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-from-left {
  0% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-from-left {
  0% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-from-right {
  0% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-from-right {
  0% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: #f6f6fe;
  background-image: url("/images/bg-top.svg");
  background-repeat: no-repeat;
  background-position: top 0px right -180px;
}

.wrapper h1 {
  margin-top: 4rem;
  color: #6d708d;
  font-size: 2rem;
  -webkit-animation: 0.9s ease-out 0s 1 bounce-from-top;
  animation: 0.9s ease-out 0s 1 bounce-from-top;
}

.toggle-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2.5rem 2.75rem 5rem;
  -webkit-animation: 0.3s ease-out 0s 1 slide-from-above;
  animation: 0.3s ease-out 0s 1 slide-from-above;
}
.toggle-button p {
  margin: 0 1.5rem;
  color: #b3b5c6;
  font-size: 0.9375rem;
}

.control-one::after {
  content: "119.99";
  font-size: 4.5rem;
}

.control-two::after {
  content: "224.99";
  font-size: 4.5rem;
}

.control-three::after {
  content: "339.99";
  font-size: 4.5rem;
}

#toggle:checked ~ .price-cards .price-card-one .control-one::after {
  content: "19.99";
}

#toggle:checked ~ .price-cards .price-card-two .control-two::after {
  content: "24.99";
}

#toggle:checked ~ .price-cards .price-card-three .control-three::after {
  content: "39.99";
}

#toggle:focus ~ .toggle-button label {
  border-bottom: 2px solid black;
}

.switch {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 56px;
  height: 32px;
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: -o-linear-gradient(left, #a3a8f0, #696fdd);
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  border-radius: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.switch::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  top: 4px;
  left: 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.switch:hover {
  opacity: 0.5;
}

.checkbox:checked + div .switch::after {
  left: 1.625rem;
}

.checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.price-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 1.5rem;
}
.price-cards .price-card {
  padding: 0.5rem 1.8rem;
  border-radius: 0.625rem;
  margin-bottom: 2rem;
}
.price-cards .price-card h2 {
  color: #494c5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2.5rem;
  border-bottom: 1px solid rgba(109, 112, 141, 0.25);
  padding-bottom: 2rem;
  margin-bottom: 0;
}
.price-cards .price-card h4 {
  color: #6d708d;
  font-size: 1.125rem;
}
.price-cards .price-card p {
  color: #6d708d;
  font-size: 0.9375rem;
  border-bottom: 1px solid rgba(109, 112, 141, 0.25);
  padding-bottom: 0.75rem;
}
.price-cards .price-card button {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a3a8f0), to(#696fdd));
  background-image: -o-linear-gradient(top left, #a3a8f0, #696fdd);
  background-image: linear-gradient(to bottom right, #a3a8f0, #696fdd);
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  width: 100%;
  padding: 1rem 0;
  border-radius: 0.5rem;
  margin: 1rem 0;
  font-size: 0.8125rem;
  letter-spacing: 1.4px;
  font-weight: 700;
  -webkit-transition: color, background-color, 1.5s;
  -o-transition: color, background-color, 1.5s;
  transition: color, background-color, 1.5s;
}
.price-cards .price-card button:hover, .price-cards .price-card button:focus {
  background-image: none;
  background-color: transparent;
  border: 1px solid #696fdd;
  color: #696fdd;
}
.price-cards .price-card-one,
.price-cards .price-card-three {
  background-color: #fff;
}
.price-cards .price-card-one {
  -webkit-animation: 0.7s ease-out 0s 1 slide-from-left;
  animation: 0.7s ease-out 0s 1 slide-from-left;
}
.price-cards .price-card-three {
  -webkit-animation: 0.7s ease-out 0s 1 slide-from-right;
  animation: 0.7s ease-out 0s 1 slide-from-right;
}
.price-cards .price-card-two {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a3a8f0), to(#696fdd));
  background-image: -o-linear-gradient(top left, #a3a8f0, #696fdd);
  background-image: linear-gradient(to bottom right, #a3a8f0, #696fdd);
}
.price-cards .price-card-two h2 {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.price-cards .price-card-two h4 {
  color: #fff;
}
.price-cards .price-card-two p {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.price-cards .price-card-two button {
  background-image: none;
  background-color: #fff;
  color: #696fdd;
  border: 1px solid #696fdd;
}
.price-cards .price-card-two button:hover, .price-cards .price-card-two button:focus {
  color: #fff;
  border: 1px solid #fff;
}

@media only screen and (min-width: 1050px) {
  body {
    background-image: url("/images/bg-top.svg"), url("/images/bg-bottom.svg");
    background-repeat: no-repeat;
    background-position: top 0px right 0px, bottom 0px left 0px;
  }

  .wrapper h1 {
    margin-top: 4.4rem;
  }

  .toggle-button {
    margin: 2.5rem 2.75rem 4rem;
  }

  .price-cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1.8rem;
  }
  .price-cards .price-card {
    padding: 3rem 1.8rem;
    width: 21.875rem;
    height: 100%;
  }
  .price-cards .price-card h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }
  .price-cards .price-card p {
    padding-bottom: 0.75rem;
  }
  .price-cards .price-card-one,
.price-cards .price-card-three {
    padding: 1.5rem 2rem;
  }
  .price-cards .price-card-one {
    border-radius: 1rem 0 0 1rem;
  }
  .price-cards .price-card-three {
    border-radius: 0 1rem 1rem 0;
  }
}

/*# sourceMappingURL=style.css.map */
